/*

!/.gitignore
!/Assets
!/Packages
!/ProjectSettings
!/LICENSE
!/README.md

.DS_Store
*.DS_Store
*~
*~$*
Assets/WebGLTemplates*
Assets/Demigiant*
Assets/G2U4S*
Assets/GodTouch*
Assets/Puzzle-Cubes*
Assets/Packages*